{% extends "customer/layout.html" %}
{% block content %}
<div class="row mt-30">
    <div class="col-md-5 col-md-offset-4 col-xs-12 center mx-auto">
        <div id="first">
            <div class="myform form ">
                <div class="logo mb-3">
                    <div class="col-md-12 text-center">
                        <h1 >Signup</h1>
                    </div>
                </div>
                <form method="post" name="registration">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text"  name="name" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="email"  class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text"  name="phone" class="form-control" id="phone" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" id="password"  class="form-control" placeholder="Password">
                    </div>
                    <div class="col-md-12 text-center mb-3">
                        <button type="submit" class=" btn btn-block mybtn btn-theme tx-tfm">Get Started For Free</button>
                    </div>
                    <div class="col-md-12 ">
                        <div class="form-group">
                            <p class="text-center"><a href="{{ url_for('login') }}" id="signin">Already have an account?</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
<script src="{{ url_for('static', filename='customer/js/validation.js') }}"></script>
{% endblock %}