<div class="category-listing mb-50">

    <div class="single-listing">
        <form method="get">
            <!-- Hidden Fields For Search Page -->

            {% if title == 'Search' %}
                <input type="hidden" name="keyword" value="{{ response.qparams.keyword }}">
                <input type="hidden" name="category" value="{{ response.qparams.category }}">
            {% endif %}
            <!-- / Hidden Fields For Search Page -->
            <aside class="left_widgets p_filter_widgets price_rangs_aside sidebar_box_shadow mb-40">
                <div class="select-Categories">
                    <div class="small-tittle h4 mb-20">
                        <h4>Availability</h4>
                    </div>
                    <label class="container">InStock Products
                        {% if response.qparams and response.qparams.instock %}
                            <input type="checkbox" name="instock" checked class='filter-checkbox'>
                        {% else %}
                            <input type="checkbox" name="instock" class='filter-checkbox'>
                        {% endif %}
                        <span class="checkmark"></span>
                    </label>
                </div>
            </aside>

            <aside class="left_widgets p_filter_widgets price_rangs_aside sidebar_box_shadow mb-40">
                <div class="small-tittle h4">
                    <h4>Filter by Price</h4>
                </div>
                <div class="widgets_inner wrapper">
                    <div class="range-slider">
                        <input type="text" class="js-range-slider" value="" />
                    </div>
                    <div class="form-inline text-center">
                        {% if response.qparams and response.qparams.min_price %}
                            <input type="text" class="js-input-from text-right" value="{{response.qparams.min_price}}" name="min_price" readonly/> To
                        {% else %}
                            <input type="text" class="js-input-from text-right" value="0" name="min_price" readonly/> To
                        {% endif %}
                        {% if response.qparams and response.qparams.max_price %}
                            <input type="text" class="js-input-to" value="{{response.qparams.max_price}}" name="max_price" readonly/>
                        {% else %}
                            <input type="text" class="js-input-to" value="5000" name="max_price" readonly/>
                        {% endif %}
                    </div>
                </div>
            </aside>
            <aside class="left_widgets p_filter_widgets price_rangs_aside sidebar_box_shadow mb-40">
                <button class="btn btn-cart btn-block">Filter</button>
            </aside>
        </form>

<!--        <aside class="left_widgets p_filter_widgets price_rangs_aside sidebar_box_shadow mb-40">-->
<!--            <div class="select-Categories">-->
<!--                <div class="small-tittle h4 mb-20">-->
<!--                    <h4>Categories</h4>-->
<!--                </div>-->
<!--                <label class="container">Mangoes-->
<!--                    <input type="checkbox" class='filter-checkbox'>-->
<!--                    <span class="checkmark"></span>-->
<!--                </label>-->
<!--                <label class="container">Citrus Fruits-->
<!--                    <input type="checkbox" class='filter-checkbox' checked="">-->
<!--                    <span class="checkmark"></span>-->
<!--                </label>-->
<!--                <label class="container">Apples-->
<!--                    <input type="checkbox" class='filter-checkbox'>-->
<!--                    <span class="checkmark"></span>-->
<!--                </label>-->
<!--                <label class="container">Banana-->
<!--                    <input type="checkbox" class='filter-checkbox'>-->
<!--                    <span class="checkmark"></span>-->
<!--                </label>-->
<!--                <label class="container">Melons-->
<!--                    <input type="checkbox" class='filter-checkbox'>-->
<!--                    <span class="checkmark"></span>-->
<!--                </label>-->
<!--            </div>-->
<!--        </aside>-->
<!--        <aside class="left_widgets p_filter_widgets price_rangs_aside sidebar_box_shadow mb-40">-->
<!--            <div class="select-Categories">-->
<!--                <div class="small-tittle h4 mb-20">-->
<!--                    <h4>Brands</h4>-->
<!--                </div>-->
<!--                <label class="container">Muffets & Tuffets-->
<!--                    <input type="checkbox" class='filter-checkbox'>-->
<!--                    <span class="checkmark"></span>-->
<!--                </label>-->
<!--                <label class="container">Britannia-->
<!--                    <input type="checkbox" class='filter-checkbox'>-->
<!--                    <span class="checkmark"></span>-->
<!--                </label>-->
<!--                <label class="container">Wibs-->
<!--                    <input type="checkbox" class='filter-checkbox'>-->
<!--                    <span class="checkmark"></span>-->
<!--                </label>-->
<!--            </div>-->
<!--        </aside>-->

    </div>
</div>

<script>
$(".js-range-slider").ionRangeSlider({
    skin: "big",
    type: "double",
    min: 0,
    max: 5000,
    from: $('.js-input-from').val(),
    to: $('.js-input-to').val(),
    onChange: function (data) {
        $('.js-input-from').val(data.from)
        $('.js-input-to').val(data.to)
    }
});
</script>